.nav {
    grid-area: n;
    padding-top: 20vh;
    position: fixed;
}

.item {
    color: red;
}

.settings {
    padding-top: 50px;
}

.nav a {
    cursor: pointer;
    margin: 15px 0;
    color: black;
    text-decoration: none;
}
a.active {
    color:red;
}
